.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 20px;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
}

.active-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
