* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: gray;
}

.container-home {
  display: flex;
  align-items: center;
}

.main-home {
  font-size: 32px;
  font-weight: bold;
  width: 50%;
  padding: 70px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 70px;
}